body{
    background-color: #EDF9EE;
}
.btn-success{
    background-color: var(--teal) !important;
    border: 1px solid var(--teal) !important;
}

.navbar-brand{
    color: #019E8E;
    font-weight: bold;
}
.navbar-brand:hover{
    color: #088377;
}